{% extends 'web/base.html' %}
{% block site_title %}รายการจองทั้งหมด{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">รายการจองทั้งหมด</h1>
    <hr>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ชื่อผู้ใช้</th>
                    <th>สินค้า</th>
                    <th>วันที่จอง</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.user.first_name }} {{ reservation.user.last_name }}</td>
                    <td>{{ reservation.product.name }}</td>
                    <td>{{ reservation.formatted_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}